/* VARIABLES 
======================== */

/* MIXIN 
======================== */
@mixin transition($x){
	-webkit-transition: all $x ease;
	   -moz-transition: all $x ease;
		-ms-transition: all $x ease;
		 -o-transition: all $x ease;
			transition: all $x ease;
}
@mixin transform($x,$y){
	-webkit-transform: translate($x,$y);
	   -moz-transform: translate($x,$y);
		-ms-transform: translate($x,$y);
		 -o-transform: translate($x,$y);
			transform: translate($x,$y);
}
@mixin border-radius($x){
	-webkit-border-radius: $x;
	   -moz-border-radius: $x;
		-ms-border-radius: $x;
		 -o-border-radius: $x;
			border-radius: $x;
}

/* MAIN 
======================== */

/* HEADER 
======================== */

/* CONTENT 
======================== */
.page{
	position: absolute;
	height: 100%;
	width: 100%;
	border: 1px solid red;
	background: url('../imgs/hero_mobile.jpg') no-repeat;
	background-size: cover;
	z-index: -1;
}
.filter{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(4,79,103, 0.5);
	z-index: 0;
}

.intro{
	position: absolute;
	top: 50px;
	width: 80%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;
	border: 1px solid lime;
}
/* FOOTER 
======================== */

/* RESPONSIVE 
======================== */
@import 'responsive';

/* ANIMATION 
======================== */