/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .page {
    background: url("../imgs/hero.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  }

  .intro p {
    margin: 15px auto 50px auto;
    font-size: 1.6em;
    width: 400px;
  }

  .counters {
    text-align: center;
    margin: 20px auto;
  }
  .counters p {
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 2em;
  }
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .about {
    width: 75%;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .intro p {
    font-size: 1.8em;
  }

  .about {
    width: 40%;
  }
}
