/* VARIABLES 
======================== */
/* MIXIN 
======================== */
/* MAIN 
======================== */
.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.sweet-alert .sa-icon.sa-info {
  display: none !important;
}

/* HEADER 
======================== */
/* CONTENT 
======================== */
.page {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url("../imgs/hero_mobile.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}

.filter {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(4, 79, 103, 0.5);
  z-index: 0;
}

.logo:hover {
  background: transparent !important;
}

.about {
  width: 90%;
  margin: 50px auto;
  z-index: 10;
  padding-top: 25px;
  padding-bottom: 25p;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
}
.about h2 {
  margin-top: 0;
  margin-bottom: 25px;
  color: #044f67;
}
.about h3 {
  margin-top: 50px;
  text-align: left;
  font-size: 1.5em;
  color: #044f67;
}
.about p {
  color: #555;
  text-align: left;
}
.about .back {
  display: block;
  margin-top: 50px;
  color: #044f67;
}

.intro {
  position: absolute;
  top: 85px;
  width: 90%;
  left: 50%;
  z-index: 10;
  text-align: center;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.intro a {
  width: 215px;
  margin-bottom: 20px;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.intro a:hover {
  background: #fff;
  color: #044f67;
}
.intro p {
  color: #fff;
  font-size: 1.4em;
  font-weight: 700;
}

.subs {
  padding: 0;
  margin-top: 25px;
  justify-content: center;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.subs a {
  margin: 0 auto;
  display: block;
  color: #fff;
  font-weight: 700;
  font-size: 1.2em;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid white;
  margin-bottom: 10px;
}

.counters {
  display: none;
  text-align: center;
  margin: 20px auto;
}
.counters p {
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 1.8em;
}
.counters p i {
  margin-left: 10px;
}

.copyright {
  text-align: center;
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #fff;
}
.copyright a {
  color: #fff;
}

/* FOOTER 
======================== */
/* RESPONSIVE 
======================== */
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .page {
    background: url("../imgs/hero.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  }

  .intro p {
    margin: 15px auto 50px auto;
    font-size: 1.6em;
    width: 400px;
  }

  .counters {
    display: block;
    text-align: center;
    margin: 20px auto;
  }
  .counters p {
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 2em;
  }
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .about {
    width: 75%;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .intro p {
    font-size: 1.8em;
  }

  .about {
    width: 40%;
  }
}
/* ANIMATION 
======================== */
